.profileContainer {
  @apply flex  justify-center mx-auto items-center  flex-col;
}

.profileWrapper {
  @apply relative flex justify-between items-center border-2 border-indigo-700 rounded-xl p-11 w-10/12 mx-auto;
}

.userImg {
  width: 20%;
}

.cardWrapper {
  @apply flex flex-col justify-between items-center border-2 border-indigo-700 rounded-xl p-4 text-center mt-6;
}

.skillsCard {
  @apply flex flex-col gap-1;
}

.levelBtn {
  @apply flex flex-col justify-center items-center gap-2;
}

.levelBtn::before {
  @apply bg-indigo-500 hover:bg-gray-400;
  content: "";
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.thirdLevelBtn::before {
  @apply bg-gray-400;
  content: "";
  display: block;
  position: relative;
  bottom: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
